<header style="background-image: linear-gradient(to bottom right, rgb(150, 171, 255), rgb(255, 170, 248)); padding: 20px">

  <div style="width: fit-content">
    <h1 class="zen-tokyo-zoo" style="font-size: xxx-large; color:rgb(0, 0, 0);">JUKBX</h1>
  </div>

  <nav>
    <ul>
      <!-- <li><a routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">Welcome</a></li>
      <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
      <li><a routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a></li> -->
    </ul>
  </nav>
</header>

<div class="display-window">
  <router-outlet></router-outlet>
</div>
