<header style="background-color: rgb(4, 0, 113); padding: 20px">

  <div style="width: fit-content">
    <h1 class="zen-tokyo-zoo" style="font-size: xxx-large; color:rgb(255, 255, 255);">JUKBX</h1>
  </div>

  <nav>
    <ul>
      <!-- <li><a routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page">Welcome</a></li>
      <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>
      <li><a routerLink="/search" routerLinkActive="active" ariaCurrentWhenActive="page">Search</a></li> -->
    </ul>
  </nav>
</header>

<div class="display-window">
  <router-outlet></router-outlet>
</div>
